.heading3 { font-size: 25px; }

h1 {
    font-size: 50px;
    font-family: Arial, sans-serif; /* Change font family */
    color:#000000; /* Change font color to red */
    text-align: center;
}

h2 {
    font-size: 20px;
    font-family: Helvetica,sans-serif; /* Change font family */
    color:#000000; 
    text-align: center;
}

.heading3 { 
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    color:#000000; 
    text-align: center;
 }

p {
    font-size: 14px;
    padding-right: 80px;
    padding-left: 80px;
}


body {
    overflow-x: hidden;
    font-family: Lato, 'helvetica nueu', helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #343434;
    margin: 150;
    padding: 150;
    position: relative;
    background-color: #353535;
    font-weight: normal;
    background-color: rgba(0, 247, 255, 0.665);

}

.row {
    display: flex;
  }
  
.column {
    flex: 1; /* Each column takes up half of the row */
    display: flex; /* Nested flexbox to center the title text */
    flex-direction: column; /* Stack list items vertically */
    align-items: center; /* Center horizontally */
}

.column ul {
    text-align: left; /* Align list items to the left */
}

.centerlist {
    text-align: center; /* Center the list */
}


.no-bullets {
    list-style: none; /* Remove bullet points */
    padding-left: 0; /* Remove default padding */
}

code {
    background-color: #f0f0f0; /* Light gray background */
    padding: 4px; /* Padding around the code */
    border: 1px solid #ccc; /* Gray border */
    font-family: monospace; /* Use monospace font for consistent spacing */
    /*display: block; /* Block-level display to ensure proper styling */
    white-space: pre-wrap; /* Preserve white spaces and wrap lines */
}

.ul-small {
    font-size: 14px;
}
.ul-noindent{
    padding-left: 80px;
    list-style: none;
}